.hero-fullscreen {
    height: 67vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}



.hero-fullscreen .container {
    z-index: 2;
    position: relative;
    color: #091f2c;
}

/* Mobile Grid Styles */
.hero-grid-mobile {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 2rem 1rem;
    text-align: center;
}

.hero-image-container img {
    width: 100%;
    border-radius: 0.5rem;
}

.hero-buttons-mobile {
    margin-bottom: 1rem;
}