/* Base layout */
.pharma-layout {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
}

/* Sidebar fixed on the left */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #343a40;
    color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

/* Main content */
.main-content {


    background-color: #f8f9fa;
    height: 100vh;
    overflow-y: auto;
    width: 100%;
    transition: margin-left 0.3s ease-in-out;
}

/* Responsive: collapse sidebar on small screens */
@media (max-width: 768px) {
    .pharma-layout {
        flex-direction: column;
    }

    .sidebar {
        transform: translateX(-100%);
        width: 250px;
        height: 100%;
        position: fixed;
    }

    .sidebar.active {
        transform: translateX(0);
    }


}