.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

.resource-img {
  opacity: 0.85;
  transition: 0.5s ease-in-out;
}

.resource-img:hover {
  opacity: 1;
  filter: brightness(1.08);
  scale: 1.2
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 767px) {
  #nextSteps {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  #nextStepsheader {
    margin-left: 20px;
  }
}